<html>
  <head>
    <title>Headless Craft - On the Rocks</title>
  </head>
  <body>
    <h1>Headless Craft - On the Rocks</h1>
    <p>This is a headless Craft instance, which means that all of the content is accessed by APIs, so it doesn't have any templates.</p>
  </body>
</html>